.titulo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

ion-label {
    margin-left: 20px;
}

.formulario {
    padding: 20px;
}

.centrar {
    margin: 20px auto;
}

.ion-item {
    margin: 10px 0;
}
