<ion-app>
  <ion-content fullscreen>
    <div class="contenedor">
      <app-header [title]="nombre"></app-header>
      <form class="formulario" [formGroup]="formTipo_usuario">
          <ion-avatar class="centrar">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        <ion-item>
              <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Descripción</ion-label>
                  <ion-input type="text" formControlName="descripcion"></ion-input>
              </ion-item>
                <section class="centrar">
                  <ion-button color="success" (click)="insertTipoUsuarios(formTipo_usuario.value)">Guardar</ion-button>
                  <ion-button color="primary"  (click)="actualizarTipoUsuario(formTipo_usuario.value)">Actualizar</ion-button>
                </section>
      </form>
      <ion-list>
          <ion-list-header>
              <ion-toolbar>
                  <header class="titulo">Tipo Usuario Registrados</header>
                  <!-- <ion-button slot="end" size="small" color="success" fill="solid">Registrar Nuevo</ion-button> -->
              </ion-toolbar>
          </ion-list-header>
  
          <ion-item *ngFor="let tipo_usuarios of usuariosList">
              <ion-toolbar>
                  <ion-avatar slot="start">
                      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                  <ion-label>
                      <h3>Nombre: {{ tipo_usuarios.nombre }}</h3>
                      <h3>descripcion: {{ tipo_usuarios.descripcion }}</h3>
                  </ion-label>
                  <ion-button (click)="seleccionar(tipo_usuarios)" slot="end" size="small" 
                  color="primary" fill="solid">Editar</ion-button>
                  <ion-button (click)=" eliminarTiposUsuarios(tipo_usuarios.codigo_tipo_us, tipo_usuarios.nombre)"
                  slot="end" size="small" color="danger" fill="solid">Eliminar</ion-button>
              </ion-toolbar>
          </ion-item>
      </ion-list>
  </div>
  </ion-content>
</ion-app>