.titulo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

ion-label {
    margin-left: 20px;
}

.formulario {
    max-width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ion-item {
    margin: 10px 0;
}
